QWidget{
    font-family: "Microsoft YaHei";
}

QToolButton[system-button=true] {
    min-width: 30px;
    border: none;
    padding: 0;
    background-color: transparent;
}

QToolButton#btn_min {
    qproperty-iconNormal: url(":/window-bar/minimize.svg");
}

QToolButton#btn_min:hover,
QToolButton#btn_min:pressed {
    background-color: rgba(0, 0, 0, 15%);
}

QToolButton#btn_close {
    qproperty-iconNormal: url(":/window-bar/close.svg");
}

QToolButton#btn_close:hover,
QToolButton#btn_close:pressed {
    background-color: #e81123;
}


MainWindow {
    background-color: #F3F3F3;
}

MainWindow[custom-style=true] {
    background-color: transparent;
}

QPushButton#btn_installer,
QPushButton#btn_portable {
    background-color: #117bc2;
    min-height: 60px;
    border-radius: 6px;
    color: white;
    font-size: 32px;
}

QPushButton#btn_installer:hover,
QPushButton#btn_portable:hover {
    background-color: #59ace4;
}



