QWidget {
  font-family: "Microsoft YaHei";
}

QToolButton[system-button="true"] {
  min-width: 30px;
  border: none;
  padding: 2px;
  background-color: transparent;
}

QToolButton#btn_min {
  qproperty-iconnormal: url(":/window-bar/minimize.svg");
}

QToolButton#btn_min:hover,
QToolButton#btn_min:pressed {
  background-color: rgba(0, 0, 0, 15%);
}

QToolButton#btn_close {
  qproperty-iconnormal: url(":/window-bar/close.svg");
}

QToolButton#btn_close:hover,
QToolButton#btn_close:pressed {
  background-color: #e81123;
}

MainWindow {
  background-color: #f3f3f3;
}

MainWindow[custom-style="true"] {
  background-color: transparent;
}

QPushButton#btn_start_installer,
QPushButton#btn_start_portable,
QPushButton#btn_open_dir {
  background-color: #007bff;
  min-height: 60px;
  border-radius: 4px;
  color: white;
  font-size: 32px;
}

QPushButton#btn_start_installer:hover,
QPushButton#btn_start_portable:hover,
QPushButton#btn_open_dir:hover {
  background-color: #0069D9;
}

QPushButton#btn_start_download,
QPushButton#btn_open_dir {
  background-color: #007bff;
  border-radius: 6px;
  color: white;
  font-size: 24px;
  min-height: 48px;
}

QPushButton#btn_start_download:hover {
  background-color: #0069D9;
}

/* Style for the Progress Bar Container */
QProgressBar {
  border: none;
  background-color: #e0e0e0; /* Light gray background */
  text-align: center; /* Center the text */
  color: black; /* Text color */
  font-size: 14px; /* Text size */
  border-radius: 4px; /* Rounded corners */
}

/* Style for the Progress Indicator */
QProgressBar::chunk {
  background-color: #007bff; /* Blue progress indicator */
  width: 1px; /* Width of the chunk */
  margin: 0px; /* Margin between chunks */
  border-radius: 4px; /* Rounded corners for the chunk */
}

/* Additional styling for the text inside the progress bar */
QProgressBar QLabel {
  color: black; /* Text color */
  padding: 0px 5px; /* Padding around the text */
}
