QToolButton[system-button=true] {
    min-width: 30px;
    border: none;
    padding: 0;
    background-color: transparent;
}

QToolButton#btn_min {
    qproperty-iconNormal: url(":/window-bar/minimize.svg");
}

QToolButton#btn_min:hover,
QToolButton#btn_min:pressed {
    background-color: rgba(0, 0, 0, 15%);
}

QToolButton#btn_close {
    qproperty-iconNormal: url(":/window-bar/close.svg");
}

QToolButton#btn_close:hover,
QToolButton#btn_close:pressed {
    background-color: #e81123;
}


MainWindow {
    background-color: #F3F3F3;
}

MainWindow[custom-style=true] {
    background-color: transparent;
}

